:root{
    /* Text Colors*/
    --color-text: hsl(0, 0%, 0%);
    --color-text-light: hsl(0, 0%, 100%);

    /* Background colors*/
    --color-bg-primary: hsl(268, 98%, 82%);
    --color-bg-secondary: hsl(221, 100%, 81%);
    --color-bg-light: hsl(0, 0%, 100%);

    // Elemets colors 
    --color-button: hsl(270, 68%, 39%);
}